@use 'variables';

.hero {
    height: 100vh;
    padding: 200px 0;
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-content: center;

    .container {
        position: relative;
    }
    
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(variables.$green, variables.$purple);
        content: '';
        opacity: 0.7;
    }

    &__text {
        margin: 64px 0;
        font-size: 40px;
        line-height: 56px;
        color: variables.$secondaryTextColor;
        font-weight: 800px;
        text-align: center;
    }

    &__perfil {
        margin: 0 auto;
        display: block;
        height: 100px;
        border-radius: 50%;
    }

    &__infos {
        padding: 16px 24px;
        color: variables.$purple;
        background-color: variables.$secondaryTextColor;
        display: flex;
        justify-content: space-between;
        border-radius: 12px;

        &__bar {
            display: flex;
            gap: 100px;

            &__item {
                font-size: 14px;

                b {
                    font-size: 18px;
                    display: block;
                }
            }
        }

        @media (max-width: 640px) {
            display: block;

            &__bar {
                display: block;

                &__item {
                    margin-bottom: 24px;
                }
            }
        }

        @media (max-width: 1024px) {
            &__bar {
                gap: 16px;
            }
        }
    }

    @media (max-width: 640px) {
        padding: 40px;
    
        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    
    }
}